  <!-- ======= Header ======= -->

  <header id="header" class="d-flex align-items-right">
    <div class="container d-flex justify-content-between align-items-right">

      <h1 class="logo pt-4">Demo APP</h1>

      <nav id="navbar" class="navbar">
        <ul>
            <li>
                <a class="active" routerLink="/">Home</a>
            </li>

            <li>
                <a class="nav-link" routerLink="/profilepage" >Profile</a>
            </li>

            <li>
              <a class="nav-link" routerLink="/registerpage">Register</a>
            </li>

            <li>
              <a class="nav-link" >Contact Us</a>
            </li>
        </ul>
      </nav>

    </div>
  </header>
  
  <!-- End Header -->